<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fishing Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
    </style>
</head>
<body>
    {% extends "base.html" %}

    {% block content %}
    <div class="container py-3">
        <div class="text-center mb-3">
            <img class="mb-4" src="{{ url_for('static', filename='logo.png') }}" alt="Logo" style="width:500px; height:350px;">
            <h1>Welcome to the Fishing Shop!</h1>
            <p class="text-warning">※ In order to access as admin, the access ID (email) and password are displayed on the login page.</p>
            <p class="text-danger">※ You must log in with the admin account to display the admin panel where you can register products in the menu.</p>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>
</html>
