{% extends "base.html" %}

{% block content %}
<div class="container">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {{ form.email(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {{ form.password(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
<h3>admin accounts</h3>
<h6>id: admin@gmail.com</h6>
<h6>password: admin</h6>
<br>
<h6>id: admin2@gmail.com</h6>
<h6>password: admin2</h6>
<br>
<h6>id: admin3@gmail.com</h6>
<h6>password: admin3</h6>
<br>
<br>
<h3>guest accounts</h3>
<h6>id: guest@gmail.com</h6>
<h6>password: guest</h6>
<h6 style="color: orange;">※When you create an account, you automatically have guest privileges.</h6>
<h6 style="color: orange;">(Admin privileges can be used only for the above accounts that have been created in advance)</h6>
</div>
{% endblock %}
